.nav{
    background-color: blue;
    color: antiquewhite;
}

.texting{
    color: antiquewhite;
}

.forFlex{
    display: flex;
    flex-direction: row;
}

.greenUvi{
background-color: greenyellow;

}


.yellowUvi{
    background-color: yellow;
    color: antiquewhite;
    }


.redUvi{
    background-color: red;
    color: antiquewhite;
    }

.Fiveday{    background-color: lightblue;
    border: solid;
    margin: 10px;
    padding: 28px;
}

.parallax {
    /* The image used */
    background-image: url("./images/Wweather.jpeg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
